.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .add-emp{
    margin-left: 51px;
  }

  .mat-elevation-z8{
    position: absolute;
    top: 80px;
    width: 100%;
  }

  .mat-pagin{
    position: absolute;
    margin-top: -57px;
    margin-left: 877px;
  }